/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: .8rem;
	position: sticky;
	margin-bottom: 2rem;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}

.nav {
	display: inline;
	margin: 0.5rem;
	font-size: 18px;
}

.right-nav {
	float: right;
	margin-right: 3rem;
}

.nav-logo {
	display: inline;
	float: left;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#bg-image {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-color: gray;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	height: 40vh;
}

.container {
	margin-left: 10rem;
	margin-right: 5rem;
	padding-left: 20rem;
	position: relative;
	color: white;
	text-align: right;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	position: relative;
	left: 5rem;
	margin-left: 10rem;
	margin-right: 5rem;
	margin-top: 1rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 2rem;
}

.intro {
	text-align: center;
	padding: 3rem;
}

.title-2 {
	position: relative;
	padding: 1rem;
}

.intro-description {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 18px;
	position: relative;
	margin-left: 5rem;
	margin-right: 5rem;
}

.pre-footer {
	background-color: #f7fbfb ;
	text-align: center;
}

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
}

.prefooter-description {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left: 7rem;
	margin-right: 7rem;
}

.book-button {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin: 2rem;
}

footer {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: gray;
	margin: 1rem;
}